*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

:root{
    --Main-Color:#FFF;
    --Second-Color:#000;
    --Text-Color:#575656;
    --Second-Text-Color:#fff;

    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

a{
    color: var(--Text-Color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Second-Color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background:rgb(0 0 0 / 0%);
    
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.2rem;
}

nav ul a{
    color: #c6c6c6;
    padding: 1rem;
}

nav a:hover{
    color: var(--Main-Color);
}

.meetingbtn{
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0;
    font-weight:bold;
    color: var(--Text-Color);
    background-color: rgb(0 0 0 / 25%);
    border-radius: 1rem;
    border-width: 0;
    float: right;
    margin-top: -0.5rem;
}

.logo-img{
    height: 4rem;
    margin-top: -1rem;
}



/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--Text-Color);
    background-color: var(--Second-Color);
    margin-top: 6rem;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    color: var(--Second-Text-Color);
    border-radius: 2rem;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 2rem;
    width: 39rem;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--Text-Color);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--Text-Color);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--Text-Color);
    border-top: none;
    color: var(--Second-Text-Color);
  }

  .packs{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .websitepacks{
    width: 25rem;
    height: 40rem;
    border: 1px solid var(--Text-Color);
    border-radius: 2rem;
    background-color: var(--Second-Color);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }

  .websitepacks h3{
    font-size: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .websitepacks h4{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }

  .websitepacks li{
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
  }

  .btndiv{
    justify-content: flex-end;
    display: flex;
  }

  .websitepacks button{
    width: 100%;
    height: 3rem;
    background-color: transparent;
    color: var(--Second-Text-Color);
    position:relative;
  }

  .websitepacks button:hover{
    background-color: var(--Text-Color);
    border-radius: 2rem;
  }

.footer{
    background-color: var(--Second-Color);
    width: 100%;
    height: 12rem;
    padding: 1rem;
    align-items:center;
    justify-content: space-evenly;
    display: flex;
}

.footer h2{
    color: var(--Main-Color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.footer a{
    color: var(--Text-Color);
}

.footer a:hover{
    color: var(--Main-Color);
}

.footer img{
    width: 12rem;
}

.copyright{
    background-color: var(--Second-Color);
    color: var(--Text-Color);
    align-items: center;
    justify-content: space-around;
    display: flex;
}
